.recipeContent{
  margin-top: 25px;
  h1{
    font-size: 45px;
    line-height: 100%;
   padding: 20px 0 20px 0;
   font-family: initial;
   font-weight: 900;
  }
  p{
    font-size: 22px;
    font-family: initial;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .recipeContent{
    h1{
      font-size: 35px;
      padding: 10px 0 10px 0;
    }
    p{
      font-size: 18px;
      padding-bottom: 10px;
    }
  }
  
}