.ingredients{
  margin-top: 30px;
  h2{
    font-size: 35px;
    font-family: initial;
    color:  hsl(14, 45%, 36%);
    padding: 10px;
  }
  ul{
    padding-bottom: 20px;
   li {
    font-size:22px ;
    font-family: initial;
    font-weight: 400;
    padding-left: 30px;
  }}
}