.ingredients{
  margin-top: 30px;
  h2{
    font-size: 35px;
    font-family: initial;
    color:  hsl(14, 45%, 36%);
    padding: 10px;
  }
  ul{
    padding-bottom: 20px;
   li {
    position: relative;
    list-style: none;
    font-size:22px ;
    font-family: initial;
    font-weight: 400;
    
    padding-left: 24px;
  }
  li::before {
    content: '•'; /* bullet character */
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px; /* bullet size */
    color: hsl(14, 45%, 36%);  /* bullet color */
    line-height: 1;
  }}
}