:root {
  --red-color: #E31E24;
  --black-color:#000000;
  --white-color:#ffffff;
  --gray-color:#727273;
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}


.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



body, html {
  overflow-x: hidden;
}

* {
  font-family: "Outfit", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  /* padding: 40px; */
  width: 100%;
  max-width: 900px;
  margin: auto;
  background-color: var(--white-color);
  box-shadow: 0 0 10px var(--gray-color);

}

@media screen and (max-width: 768px) {
  body, html{
   margin: 0px;
   box-shadow:none;
  } 

  
}
