:root {
  --red-color: #E31E24;
  --black-color:#000000;
  --white-color:#ffffff;
  --gray-color:#727273;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

body, html {
  overflow-x: hidden;
}

body {
  background-color: var(--white-color);
}
