.instructions{
 padding-top: 10px;
 padding-bottom: 10px;
 margin: 40px;
 h2{
  font-size: 35px;
    font-family: initial;
    color:  hsl(14, 45%, 36%);
    font-weight: bolder;
  
 }
 

 ol{
  list-style: none; /* Remove default numbers */
      padding-left: 0;
      counter-reset: list-counter;
      padding-bottom: 10px;
  li{
    position: relative;
    color:  hsl(24, 5%, 18%);
    font-size: 18px;
    font-weight: 300;
    padding-left: 30px;
    padding-bottom: 13px;
  


    span{
      color:  hsl(24, 5%, 18%);
      font-size: 20px;
      font-weight:500;
      margin-right: 6px;
      display: inline;
    }
  }
  li::before {
    flex-shrink: 0;
    counter-increment: list-counter; /* Increment counter */
    content: counter(list-counter) ".";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;  /* Number size */
    color:hsl(14, 45%, 36%);      /* Number color */
    line-height: 1;
    font-weight: 900;
  
  }
 }

}


@media screen and (max-width: 768px) {
  .instructions{
    margin: 20px;
    ol{
      padding: 10px;
      li{
        font-size: 18px;
      }
    }
  }
  
}