.header{
 align-items: center;
 justify-content: center;
  display: flex;
  img{
    width: 100%;
    border-radius: 10px;
  }
}





@media screen and (max-width: 768px) {
  .header{
    img{
      width: 100%;
      border-radius: 0;
      height:200px;
    }
  }
  
}