.preparationtime{
  margin-top: 30px;
  background-color: hsl(330, 100%, 98%);
  padding: 10px;
  border-radius: 10px;

h2{
  font-size: 30px;
  font-weight: 900;
  color:hsl(332, 51%, 32%); 
  padding: 10px;
  padding-left: 30px;

}

  ul{
   align-items: flex-start;

  li{ 
    font-size: 19px;
    font-weight: 400;
    span{
      font-size: 20px;
      font-weight: 900;
    }
  }
  }
}