.preparationtime{
  margin-top: 30px;
  background-color: hsl(330, 100%, 98%);
  padding: 10px;
  border-radius: 10px;

h2{
  font-size: 30px;
  font-weight: 900;
  color:hsl(332, 51%, 32%); 
  padding: 10px;
  padding-left: 30px;

}

  ul{
  
   
  li{ 
    position: relative;
    list-style: none;
    font-size: 19px;
    font-weight: 400;
    padding-left: 24px;
    font-family: initial;
    span{
      font-size: 20px;
      font-weight: 900;
    }
  }
  li::before {
    content: '•'; /* bullet character */
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px; /* bullet size */
    color: hsl(332, 51%, 32%);  /* bullet color */
    line-height: 1;
  }
  }
}

@media screen and (max-width: 768px) {
  .preparationtime{
    padding: 1px;
    ul{
      li{
        font-size: 16px;
      
        span{
          font-size: 17px;
        }
      }
    }
  }
  
}